* {
    text-align: center;
}
#into-to-space {
    font-size: 25px;
}
#space-title {
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}
#space-subtitl {
    font-family:fantasy;
    font-size: 30px;
}
#space {
    font-size: 30px;
}
p, #same-as-them {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}